body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f3f9;
    margin: 0;
    padding: 0;
    color: #3a2e66;
    line-height: 1.6;
    font-weight: 600;
    font-style: oblique;

    h1 {
        animation: fadeIn 2s ease-in-out 1 forwards;
    } 

    h2 {
        animation: colorCycle 10s ease-in-out 1 forwards;
    } 

}

h1, h2 {
    color: #b34b9c; 
    
}

h1.emphasis {
    font-size: 3rem;
    text-align: center;
    margin-top: 20px;
    color: #df6da6; 
}

nav {
    background-color: #d7a9d1; 
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type:none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #3a2e66;
    font-weight: bold;
    font-size: 1.2rem;
}

nav ul li a:hover {
    color: #df6da6; 
}

.btn {
    background-color: #eea7cb; 
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: top 0,2s ease ;
    
}

.btn:hover {
    top: -3px ; 
    background-color: #b34b9c; 
}

section {
    padding: 40px 20px;
    margin: 20px 0;
    background-color: #ffffff; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section p {
    font-size: 1.1rem;
    color: #6e4b7d;
}

section#inicio {
    background-color: #f9d0e1;
}

section#productos {
    background-color: #e7c8e8; 
}

.media {
    text-align: center;
    margin-top: 40px;
}

.media img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

.media video {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

footer {
    background-color: #d7a9d1;
    text-align: center;
    padding: 15px;
    color: white;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes colorCycle {
	0% {
		color: red;
	}
	33% {
		color: blue;
	}
	66% {
		color: green;
	}
	100% {
		color: red;
	}
}